<!DOCTYPE HTML>

<html>
	<head>

		<title>Your Website</title>
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" href="{{ asset('css/bootstrap/css/bootstrap.css') }}" type="text/css" />
		
	</head>
	<body>
	<H1>
		connected
	</H1>
	</body>
</html>